@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

body {
	width: 100vw;
	height: 100vh;
}

/* HEADER STYLES */

header {
	width: 100%;
	height: 6%;
	background-color: #940000;
	display: flex;
	justify-content: space-between;
}

#titleDiv {
	width: 15%;
	height: 100%;
	margin-left: 15px;
	color: white;
	font-size: 18px;
	display: flex;
	align-items: center;
}

#links {
	width: 30%;
	height: 100%;
	margin-right: 15px;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	align-items: center;
	font-weight: 300;
}

#links a {
	text-decoration: none;
	color: white;
}

#links a:hover {
	color: yellow;
}

/* MAIN SECTION STYLES */

section {
	width: 100%;
	height: 90%;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#mainPost {
	width: 100%;
	height: 45%;
	background-color: #86C4C6;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#mainPost img {
	width: 35%;
	height: 90%;
	object-fit: cover;
}

#mainPost div {
	width: 60%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#mainPost b {
	font-size: 26px;
}

#latest {
	width: 100%;
	height: 5%;
	font-size: 25px;
	align-items: center;
	display: flex;
	justify-content: center;
}

#otherPosts {
	width: 100%;
	height: 48%;
	display: flex;
	justify-content: space-around;
}

#otherPosts > div {
	width: 19%;
	height: 98%;
	border: 1px solid #DCDCDC;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#otherPosts img {
	width: 100%;
	height: 50%;
	object-fit: cover;
}

.infoHolder {
	width: 90%;
	height: 42%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 10px;
}

.infoHolder b {
	font-size: 18px;
}

.infoHolder span {
	font-size: 13px;
}

.infoHolder button {
	height: 25%;
	width: 35%;
	background-color: #940000;
	border: none;
	color: white;
}

.infoHolder button:hover {
	background-color: #7D0000;
	cursor: pointer;
}